<mat-toolbar color="primary">
  <span>CSGO Coach</span>

  <!-- This fills the remaining space of the current row -->
  <span class="fill-remaining-space"></span>

  <form *ngIf="loggedIn" action="/steam/logout">
    <button mat-button>Logout</button>
  </form>
</mat-toolbar>

<mat-tab-group>
  <mat-tab label="Teams" (click)="navigate('/team-list')"></mat-tab>
  <mat-tab label="Statistic" (click)="navigate('/')"></mat-tab>
  <mat-tab label="Game Overview" (click)="navigate('/game-overview')"></mat-tab>
</mat-tab-group>


<router-outlet></router-outlet>
