<mat-toolbar color="primary">
  <span>CSGO Coach</span>

  <span class="fill-remaining-space"></span>

  <form *ngIf="loggedIn" action="/api/steam/logout">
    <button mat-button type="submit">Logout</button>
  </form>
</mat-toolbar>


<mat-tab-group *ngIf="loggedIn" (selectedIndexChange)="tabSelectionChanged($event)" [(selectedIndex)]="index">
  <mat-tab label="Teams"></mat-tab>
  <mat-tab label="Statistic"></mat-tab>
  <mat-tab label="Game Overview"></mat-tab>
</mat-tab-group>


<router-outlet></router-outlet>
