.example-card {
  width: 100%;
}

.team-symbol {
  width: 100px;
  height: 100px;
}

.map_points {
  padding-top: 40px;
  margin-left: 15px;
  margin-right: 15px;
}

.map-image {
  max-width: 400px;
}
