<mat-card class="game-overview-card">

  <mat-card-header>
    <img *ngIf="mapInfo" class="map-image" src="assets/images/maps/{{mapInfo?.name}}.jpg">
    <div><img src="assets/images/team_ct.png" class="team-symbol" /></div>
    <div class="versus"> {{mapInfo?.team_ct.score}} - {{mapInfo?.team_t.score}}</div>
    <div><img src="assets/images/team_t.png" class="team-symbol" /></div>
  </mat-card-header>


</mat-card>

<mat-card class="game-overview-card">
  <mat-card-title>Team-Members</mat-card-title>
  <app-player [player]="player"></app-player>
</mat-card>
