.game-overview-card {
  margin-top: 8px;
}

.team-symbol {
  padding-top: 8px;
  width: 50px;
}

.versus {
  margin-left: 16px;
  margin-right: 16px;

  padding-top: 24px;
  font-weight: bold;
}

.map-image {
  margin-right: 16px;

  max-width: 105px;
  max-height: 65px;

  display: block;
  margin: 0 auto;

  border: 1px black solid;
}

